<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EDU-vents</title>
        <meta name="description" content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/images/seco.ico">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script>
            window.onload = function() {
                var select = document.getElementById("changePic");
                var fileInput = document.getElementById("img");

                select.onchange = function() {
                    if (select.value === "yes") {
                        fileInput.style.display = "unset";
                    } else {
                        fileInput.style.display = "none";
                    }
                }
            }
        </script>

        <% if (typeof msg !== "undefined") { %>
            <script>alert("<%= msg %>")</script>
        <% } %>
    </head>
    <body>
        <header>
            <h1 onclick="location.href='/'">
                <img alt="logo" src="/images/logo.jpg">
                <span>EDU-vents</span>
            </h1>
            <nav>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <div class="sections">
            <section>
                <form action="/edu-vents/en/<%= eduvent._id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
                    <h3>Edit an EDU-vent</h3>
                    <input type="text" name="name" placeholder="Name" <% if (typeof eduvent.name !== "undefined") { %> value="<%= eduvent.name %>" <% } %>>
                    <label for="type">Type
                        <select name="type" id="type">
                            <% types.forEach(function(type) { %>
                                <option <% if (eduvent.type === type.en) { %> selected <% } %>><%= type.en %></option>
                            <% }) %>
                        </select>
                    </label>
                    <textarea name="description" placeholder="Description"><% if (typeof eduvent.description !== "undefined") { %> <%= eduvent.description %> <% } %></textarea>
                    <label for="location">Select Location
                        <select name="location" id="location">
                            <% locations.forEach(function(location) { %>
                                <option <% if (eduvent.location === location.en) { %> selected <% } %>><%= location.en %></option>
                            <% }) %>
                        </select>
                    </label>
                    <input type="text" name="locationInfo" placeholder="Location Information" <% if (typeof eduvent.locationInfo !== "undefined") { %> value="<%= eduvent.locationInfo %>" <% } %>>
                    <input type="url" name="googleMaps" placeholder="Google Maps" <% if (typeof eduvent.googleMaps !== "undefined") { %> value="<%= eduvent.googleMaps %>" <% } %>>
                    <input type="url" name="urltoapp" placeholder="URL to Application" <% if (typeof eduvent.urltoapp !== "undefined") { %> value="<%= eduvent.urltoapp %>" <% } %>>

                    <% 
                    if (typeof eduvent.startDate !== "undefined") {
                        var startY = eduvent.startDate.getFullYear();
                        var startM = eduvent.startDate.getMonth() + 1;
                        startM = "0" + startM;
                        var startD = "0" + eduvent.startDate.getDate();
                        startD = "0" + startD;

                        var startDate = startY + "-" + startM.slice(-2) + "-" + startD.slice(-2);
                    }
                    %>

                    <% 
                    if (typeof eduvent.endDate !== "undefined") {
                        var endY = eduvent.endDate.getFullYear();
                        var endM = eduvent.endDate.getMonth() + 1;
                        endM = "0" + startM;
                        var endD = "0" + eduvent.endDate.getDate();
                        endD = "0" + startD;

                        var endDate = endY + "-" + endM.slice(-2) + "-" + endD.slice(-2);
                    }
                    %>

                    <label>Start Date <input type="date" name="date" <% if (typeof eduvent.startDate !== "undefined") { %> value="<%= startDate %>" <% } %>></label>
                    <label>End Date <input type="date" name="endDate" <% if (typeof eduvent.endDate !== "undefined") { %> value="<%= endDate %>" <% } %>></label>
                    <label for="initiative">Initiative
                        <select name="initiative" id="initiative">
                            <option>none</option>
                            <% initiatives.forEach(function(initiative) { %>
                                <option <% if (eduvent.initiative === initiative._id.toString()) { %> selected <% } %>><%= initiative.name %></option>
                            <% }) %>
                        </select>
                    </label>
                    <label for="changePic">Do you want to change the picture?
                        <select name="changePic" id="changePic">
                            <option>no</option>
                            <option>yes</option>
                        </select>
                    </label>
                    <input style="display: none;" type="file" name="img" id="img">
                    <input type="submit">
                </form>
                </section>
        </div>
    </body>
</html>