<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDU-vents</title>
    <meta name="description"
        content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/seco.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <% if (typeof msg !== "undefined") { %>
    <script>alert("<%= msg %>")</script>
    <% } %>
</head>

<body>
    <header>
        <h1 onclick="location.href='/'">
            <img alt="logo" src="/images/logo.jpg">
            <span>EDU-vents</span>
        </h1>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <div class="sections">
        <section>
            <form action="/users/<%= user._id %>?_method=PATCH" method="POST" id="mainForm" onsubmit="return structureVolunteers()">
                <h3>Edit an EDU-vent</h3>
            <label>Username<input type="text" name="username" placeholder="Username" <% if (typeof user.username !== "undefined") { %> value="<%= user.username %>" <% } %> ></label>
                <label for="isAdmin">isAdmin
                    <select onchange="admincheck()" name="isAdmin" id="isAdmin">
                        <option <% if (typeof user.isAdmin !== "undefined") { if (user.isAdmin === true) {%> selected <% } } %>>true</option>
                        <option <% if (typeof user.isAdmin !== "undefined") { if (user.isAdmin === false) {%> selected <% } } %>>false</option>
                    </select>
                </label>
            <div style="display: none;" id="volunteers">
                <% user.volunteers.forEach(function(volunteer, i) { %>
                    <label>
                        <input type="text" placeholder="Name" id="name<%= i+1 %>" <% if (typeof volunteer.name !== "undefined") { %> value="<%= volunteer.name %>" <% } %>>
                        <input type="text" placeholder="Time" id="time<%= i+1 %>" <% if (typeof volunteer.time !== "undefined") { %> value="<%= volunteer.time %>" <% } %>>
                        <select id="type<%= i+1 %>">
                            <option <% if (typeof volunteer.Vtype !== "undefined") { if (volunteer.Vtype === "researcher") {%> selected <% } } %>>researcher</option>
                            <option <% if (typeof volunteer.Vtype !== "undefined") { if (volunteer.Vtype === "writer") {%> selected <% } } %>>writer</option>
                        </select>
                    </label>
                <% }) %>
            </div>
            <label>Score<input type="number" name="score" placeholder="Score" <% if (typeof user.score !== "undefined") { %> value="<%= user.score %>" <% } %> ></label>
                <label for="cPassword">Do you want to change the password?
                    <select onchange="passwordCheck()" name="cPassword" id="cPassword">
                        <option>yes</option>
                        <option selected>no</option>
                    </select>
                </label>
                <label style="display: none;" id="password">Password<input type="password" name="password" placeholder="Password"></label>
                <input type="submit">
            </form>
        </section>
    </div>
</body>

<script>
    function admincheck() {
        if (document.getElementById("isAdmin").value === "false") {
            document.getElementById("volunteers").style.display = "block";
        } else {
            document.getElementById("volunteers").style.display = "none";
        }
    }

    function passwordCheck() {
        if (document.getElementById("cPassword").value === "yes") {
            document.getElementById("password").style.display = "block";
        } else {
            document.getElementById("password").style.display = "none";
        }
    }

    function structureVolunteers() {
        var count = document.getElementById("volunteers").childElementCount;
        var mainForm = document.getElementById("mainForm");
        var volunteers = [];

        for (var i = 0; i < count; i++) {
            var volunteer = {
                name: document.getElementById("name" + (i+1)).value,
                time: Number(document.getElementById("time" + (i+1)).value),
                Vtype: document.getElementById("type" + (i+1)).options[document.getElementById("type" + (i+1)).selectedIndex].value
            }
            volunteers.push(volunteer);
        }

        document.getElementById("volunteers").parentNode.removeChild(document.getElementById("volunteers"));

        var volunsInput = document.createElement("input");
        volunsInput.name = "volunteers";
        volunsInput.value = JSON.stringify(volunteers);
        volunsInput.hidden = true;
        mainForm.append(volunsInput);
        return true;
    }

    window.onload = admincheck();
</script>

</html>