<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EDU-vents</title>
    <meta name="description"
        content="EDU-vents - This website was created solely for the help of Philomaths. It would show the most important educational events happening around the world, providing an easy-to-use portal for them.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/seco.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <% if (typeof msg !== "undefined") { %>
    <script>alert("<%= msg %>")</script>
    <% } %>
</head>

<body>
    <header>
        <h1>
            <img alt="logo" src="/images/logo.jpg">
            <span>EDU-vents</span>
        </h1>
        <nav>
            <a href="/logout">Logout</a>
        </nav>
    </header>
    <h2>Welcome <%= username %>!</h2>
    <div class="sections">
        <% if (isAdmin === true) { %>
        <section>
            <h3>Create User</h3>
            <form action="/users" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <label for="isAdmin">isAdmin
                    <select onchange="admincheck()" name="isAdmin" id="isAdmin">
                        <option>true</option>
                        <option>false</option>
                    </select>
                </label>
                <input id="Rname" style="display: none;" type="text" name="Rname" placeholder="Researcher Name">
                <input id="Wname" style="display: none;" type="text" name="Wname" placeholder="Writer Name">
                <input type="submit">
            </form>
            <script>
                function admincheck() {
                    if (document.getElementById("isAdmin").value === "false") {
                        document.getElementById("Rname").style.display = "unset";
                        document.getElementById("Wname").style.display = "unset";
                    } else {
                        document.getElementById("Rname").style.display = "none";
                        document.getElementById("Wname").style.display = "none";
                    }
                }
            </script>
        </section>
        <section>
            <h3>User Control</h3>
            <table id="user-control">
                <tr>
                    <th>username</th>
                    <th>is Admin</th>
                    <th>Names</th>
                    <th>Time</th>
                    <th>Score</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% users.forEach(function(user) { %>
                <tr>
                    <td><%= user.username %></td>
                    <td><%= user.isAdmin %></td>
                    <td>
                        <% if (typeof user.researcher.name !== "undefined") { %> Researcher: <%= user.researcher.name %> <% } %> 
                        <br>
                        <% if (typeof user.writer.name !== "undefined") { %> Writer: <%= user.writer.name %> <% } %>
                    </td>
                    <td>
                        <% if (typeof user.researcher.time !== "undefined") { %> Researcher: <%= user.researcher.time %> <% } %> 
                        <br>
                        <% if (typeof user.writer.time !== "undefined") { %> Writer: <%= user.writer.time %> <% } %>
                    </td>
                    <td>
                    <% if (typeof user.score !== "undefind") { %> <%= user.score %> <% } %>  
                    </td>
                    <td>
                        <form action="/users/<%= user._id %>/edit" method="GET"><input type="submit" value="Edit"></form>
                    </td>
                    <td>
                        <form action="/users/<%= user._id %>/delete?_method=DELETE" method="POST"><input type="submit" value="Delete"></form>
                    </td>
                </tr>
                <% }) %>
            </table>
        </section>
        <section>
            <h3>Types</h3>
            <% types.forEach(function(type) { %>
                <form style="display: block;" action="/types/<%= type._id %>/delete?_method=DELETE" method="POST">
                    <h4 style="font-size: 20px;">
                        <%= type.en %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= type.ar %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="✕" style="display: inline;">
                    </h4>
                </form>
            <% }) %>
            <form action="/types" method="POST">
                <label>English Type<input type="text" name="typeEn" required></label>
                <label>Arabic Type<input dir="ltr" type="text" name="typeAr" required></label>
                <input type="submit">
            </form>
        </section>
        <section>
            <h3>Locations</h3>
            <% locations.forEach(function(location) { %>
                <form style="display: block;" action="/locations/<%= location._id %>/delete?_method=DELETE" method="POST">
                    <h4 style="font: 20px;">
                        <%= location.en %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= location.ar %>&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" value="✕" style="display: inline;">
                    </h4>
                </form>
            <% }) %>
            <form action="/locations" method="POST">
                <label>English Location<input type="text" name="locationEn" required></label>
                <label>Arabic Location<input type="text" name="locationAr" required></label>
                <input type="submit">
            </form>
        </section>
        <section>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <canvas id="chart"></canvas>

            <script>
                var chartData = {
                    names: [],
                    scores: []
                }
            </script>

            <% chartData.names.forEach(function(name) { %>
            <script>
                chartData.names.push("<%= name %>")
            </script>
            <% }) %>

            <% chartData.scores.forEach(function(score) { %>
            <script>
                chartData.scores.push("<%= score %>")
            </script>
            <% }) %>

            <script>
                var ctx = document.getElementById("chart").getContext("2d");
                var chart = new Chart(ctx, {
                    type: "horizontalBar",
                    data: {
                        labels: chartData.names,
                        datasets: [{
                            label: "test chart",
                            backgroundColor: "rgb(28,68,178)",
                            data: chartData.scores
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </section>
        <section>
            <form action="/edu-vents" method="POST" enctype="multipart/form-data" name="eduventsForm" onsubmit="return validateForm()">
                <h3>Add an EDU-vent</h3>
                <label>Name*<input type="text" name="name" id="name" placeholder="Name" required></label>
                <label for="type">Type*
                    <select name="type" id="type" required>
                        <% types.forEach(function(type) { %>
                            <option><%= type.en %></option>
                        <% }) %>
                    </select>
                </label>
                <label>Description*<textarea name="description" id="description" placeholder="Description" required></textarea></label>
                <label for="location">Select Location
                    <select name="location" id="location">
                        <% locations.forEach(function(location) { %>
                            <option><%= location.en %></option>
                        <% }) %>
                    </select>
                </label>
                <label>Location Information<input type="text" name="locationInfo" placeholder="Location Information"></label>
                <label>Google Maps Link<input type="url" name="googleMaps" placeholder="Google Maps"></label>
                <label>URL to Application<input type="url" name="urltoapp" placeholder="URL to Application"></label>
                <label>Start Date <input type="date" name="date"></label>
                <label>End Date <input type="date" name="endDate"></label>
                <label>Image*<input type="file" name="img" required></label>
                <label dir="rtl" style="text-align: right;">الاسم*<input dir="rtl" type="text" name="nameAr" id="nameAr" placeholder="الاسم" required></label>
                <label for="type" dir="rtl" style="text-align: right;">النوع*
                    <select dir="ltr" name="typeAr" id="typeAr" id="type" required>
                        <% types.forEach(function(type) { %>
                            <option><%= type.ar %></option>
                        <% }) %>
                    </select>
                </label>
                <label dir="rtl" style="text-align: right;">الوصف*<textarea dir="rtl" name="descriptionAr" id="descriptionAr" placeholder="الوصف" required></textarea></label>
                <label for="location" dir="rtl" style="text-align: right;">إختر الموقع*
                    <select dir="ltr" name="locationAr" id="locationAr">
                        <% locations.forEach(function(location) { %>
                            <option><%= location.ar %></option>
                        <% }) %>
                    </select>
                </label>
                <label dir="rtl" style="text-align: right;">معلومات الموقع*<input dir="rtl" type="text" name="locationInfoAr" placeholder="معلومات الموقع"></label>
                <input type="submit">
            </form>
        </section>
        <section>
            <% var counter = 1; %>

            <% eduvents.en.forEach(function(eduvent) { %>
            <% if (counter % 3 == 1) { %>
            <div class="row" style="display: flex;">
                <% } %>
                <div class="edu-vent">
                    <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                    <div class="inner">
                        <h2><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                        <p><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                        <form action="/edu-vents/en/<%= eduvent._id %>/delete?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                        <form action="/edu-vents/en/<%= eduvent._id %>/edit" method="GET">
                            <button>Edit</button>
                        </form>

                        <% if (eduvent.featuredUntil === undefined || new Date < eduvent.featuredUntil) { %> 
                            <form action="/edu-vents/en/<%= eduvent._id %>/feature" method="GET">
                                <input type="date" name="featuredUntil" style="display: inline; width: initial;">
                                <button style="display: inline;">Feature</button>
                            </form>
                        <% } %> 

                        <button onclick="window.open('/edu-vents/en/<%= eduvent._id %>', '_blank').focus">View</button>
                    </div>
                </div>
                <% if (counter %3 == 0) { %>
            </div>
            <% } %>
            <% counter++ %>
            <% }) %>

            <% eduvents.ar.forEach(function(eduvent) { %>
            <% if (counter % 3 == 1) { %>
            <div class="row" style="display: flex;">
                <% } %>
                <div class="edu-vent">
                    <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                    <div class="inner">
                        <h2 dir="rtl"><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                        <p dir="rtl"><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                        <form action="/edu-vents/ar/<%= eduvent._id %>/delete?_method=DELETE" method="POST">
                            <button class="delete">Delete</button>
                        </form>
                        <form action="/edu-vents/ar/<%= eduvent._id %>/edit" method="GET">
                            <button class="edit">Edit</button>
                        </form>

                        <% if (eduvent.featuredUntil === undefined || new Date < eduvent.featuredUntil) { %>
                            <form action="/edu-vents/ar/<%= eduvent._id %>/feature" method="GET">
                                <input type="date" name="featuredUntil" style="display: inline; width: initial;">
                                <button style="display: inline;">Feature</button>
                            </form>
                        <% } %> 

                        <button onclick="window.open('/edu-vents/ar/<%= eduvent._id %>', '_blank').focus">View</button>
                    </div>
                </div>
                <% if (counter %3 == 0) { %>
            </div>
            <% } %>
            <% counter++ %>
            <% }) %>
        </section>
        <% } else { %>
        <section>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <canvas id="chart"></canvas>

            <script>
                var chartData = {
                    names: [],
                    scores: []
                }
            </script>

            <% chartData.names.forEach(function(name) { %>
            <script>
                chartData.names.push("<%= name %>")
            </script>
            <% }) %>

            <% chartData.scores.forEach(function(score) { %>
            <script>
                chartData.scores.push("<%= score %>")
            </script>
            <% }) %>

            <script>
                var ctx = document.getElementById("chart").getContext("2d");
                var chart = new Chart(ctx, {
                    type: "horizontalBar",
                    data: {
                        labels: chartData.names,
                        datasets: [{
                            label: "test chart",
                            backgroundColor: "rgb(28,68,178)",
                            data: chartData.scores
                        }]
                    },
                    options: {
                        scales: {
                            xAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            </script>
        </section>
        <section>
            <a id="timerBut" href="/timer" target="_blank">Open Timer</a>
        </section>
        <section>
            <form action="/edu-vents" method="POST" enctype="multipart/form-data" name="eduventsForm" onsubmit="return validateForm()">
                <h3>Add an EDU-vent</h3>
                <label>Name*<input type="text" name="name" id="name" placeholder="Name" required></label>
                <label for="type">Type*
                    <select name="type" id="type" required>
                        <% types.forEach(function(type) { %>
                            <option><%= type.en %></option>
                        <% }) %>
                    </select>
                </label>
                <label>Description*<textarea name="description" id="description" placeholder="Description" required></textarea></label>
                <label for="location">Select Location
                    <select name="location" id="location">
                        <% locations.forEach(function(location) { %>
                            <option><%= location.en %></option>
                        <% }) %>
                    </select>
                </label>
                <label>Location Information<input type="text" name="locationInfo" placeholder="Location Information"></label>
                <label>Google Maps Link<input type="url" name="googleMaps" placeholder="Google Maps"></label>
                <label>URL to Application<input type="url" name="urltoapp" placeholder="URL to Application"></label>   
                <label>Start Date <input type="date" name="date"></label>
                <label>End Date <input type="date" name="endDate"></label>
                <label>Image*<input type="file" name="img" required></label>
                <label dir="rtl" style="text-align: right;">الاسم*<input dir="rtl" type="text" name="nameAr" id="nameAr" placeholder="الاسم" required></label>
                <label for="type" dir="rtl" style="text-align: right;">النوع*
                    <select dir="ltr" name="typeAr" id="typeAr" required>
                        <% types.forEach(function(type) { %>
                            <option><%= type.ar %></option>
                        <% }) %>
                    </select>
                </label>
                <label dir="rtl" style="text-align: right;">الوصف*<textarea dir="rtl" name="descriptionAr" id="descriptionAr" placeholder="الوصف" required></textarea></label>
                <label for="location" dir="rtl" style="text-align: right;">إختر الموقع
                    <select dir="ltr" name="locationAr" id="location">
                        <% locations.forEach(function(location) { %>
                            <option><%= location.ar %></option>
                        <% }) %>
                    </select>
                </label>
                <label dir="rtl" style="text-align: right;">معلومات الموقع<input dir="rtl" type="text" name="locationInfoAr" placeholder="معلومات الموقع"></label>
                <input type="submit">
            </form>
        </section>
        <section>
            <% var counter = 1; %>

            <% eduvents.en.forEach(function(eduvent) { %>
            <% if (counter % 3 == 1) { %>
            <div class="row" style="display: flex;">
                <% } %>
                <% if (eduvent.userId === userId) { %>
                <div class="edu-vent">
                    <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                    <div class="inner">
                        <h2><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                        <p><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                        <form action="/edu-vents/en/<%= eduvent._id %>/delete?_method=DELETE" method="POST">
                            <button>Delete</button>
                        </form>
                        <form action="/edu-vents/en/<%= eduvent._id %>/edit" method="GET">
                            <button>Edit</button>
                        </form>
                        <button onclick="window.open('/edu-vents/en/<%= eduvent._id %>', '_blank').focus">View</button>
                    </div>
                </div>
                <% } else { %>
                <div class="edu-vent">
                    <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                    <div class="inner">
                        <h2><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                        <p><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                        <button onclick="window.open('/edu-vents/en/<%= eduvent._id %>', '_blank').focus">View</button>
                    </div>
                </div>
                <% } %>
                <% if (counter %3 == 0) { %>
            </div>
            <% } %>
            <% counter++ %>
            <% }) %>

            <% eduvents.ar.forEach(function(eduvent) { %>
            <% if (counter % 3 == 1) { %>
            <div class="row" style="display: flex;">
                <% } %>
                <% if (eduvent.userId === userId) { %>
                    <div class="edu-vent">
                        <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                        <div class="inner">
                            <h2><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                            <p><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                            <form action="/edu-vents/ar/<%= eduvent._id %>/delete?_method=DELETE" method="POST">
                                <button class="delete">Delete</button>
                            </form>
                            <form action="/edu-vents/ar/<%= eduvent._id %>/edit" method="GET">
                                <button class="edit">Edit</button>
                            </form>
                            <button onclick="window.open('/edu-vents/ar/<%= eduvent._id %>', '_blank').focus">View</button>
                        </div>
                    </div>
                <% } else { %>
                    <div class="edu-vent">
                        <img alt="EDU-vent img" src="/uploads/<%= eduvent.imgPath %>">
                        <div class="inner">
                            <h2><% if (typeof eduvent.name !== "undefined") { %> <%= eduvent.name %> <% } %> </h2>
                            <p><% if (typeof eduvent.description !== "undefined") { %> <%- eduvent.description.substring(0, 45) %>... <% } %></p>
                            <button onclick="window.open('/edu-vents/ar/<%= eduvent._id %>', '_blank').focus">View</button>
                        </div>
                    </div>
                <% } %> 
                <% if (counter %3 == 0) { %>
            </div>
            <% } %>
            <% counter++ %>
            <% }) %>
        </section>
        <% } %>
    </div>
</body>

<script>
    function  validateForm() {
        var eduventForm = document.forms["eduventsForm"];

        if (eduventForm["date"].value === "" && eduventForm["endDate"].value === "") {
            alert("Please submit at least one date.");
            return false;
        }
        if (eduventForm["name"].value === "") {
            alert("Please submit a name.");
            return false;
        }
        if (eduventForm["type"].options[eduventForm["type"].selectedIndex].value === "Any" || eduventForm["type"].options[eduventForm["type"].selectedIndex].value  === "") {
            alert("Please submit a type.");
            return false;
        }
        if (eduventForm["description"].value === "") {
            alert("Please submit a description.");
            return false;
        }
        if (eduventForm["nameAr"].value === "") {
            alert("Please submit an arabic name.");
            return false;
        }
        if (eduventForm["typeAr"].options[eduventForm["typeAr"].selectedIndex].value === "الكل" || eduventForm["typeAr"].options[eduventForm["typeAr"].selectedIndex].value  === "") {
            alert("Please submit an arabic type.");
            return false;
        }
        if (eduventForm["descriptionAr"].value === "") {
            alert("Please submit an arabic description.");
            return false;
        }
    }
</script>

</html>