<%- include("partials/header") %>

    <div class="sections">
        <section>
            <h1><%= eduvent.name.en %> - <%= eduvent.name.ar %></h1>

            <img width="750px" src="/uploads/<%= eduvent.img %>">
            <br>

            <h3><%= eduvent.type.en %> - <%= eduvent.type.ar %></h3>
            <br>

            <p><%= eduvent.description.en %></p>
            <p><%= eduvent.description.ar %></p>
            <br>

            <%
                if (typeof eduvent.date !== "undefined") {
                    var date = ("0" + eduvent.date.getDate()).slice(-2) + "/" + ("0" + (eduvent.date.getMonth() + 1)).slice(-2) + "/" + eduvent.date.getFullYear();
                    date += " " + eduvent.date.getHours() + ":" + eduvent.date.getMinutes();
                }
            %>
            <% 
                if (typeof eduvent.endDate !== "undefined") {
                    var endDate = ("0" + eduvent.endDate.getDate()).slice(-2) + "/" + ("0" + (eduvent.endDate.getMonth() + 1)).slice(-2) + "/" + eduvent.endDate.getFullYear();
                    endDate += " " + eduvent.endDate.getHours() + ":" + eduvent.endDate.getMinutes();
                }
            %>

            <% if (typeof date !== "undefined" && typeof endDate !== "undefined") { %> 
                <h3><%= date %> - <%= endDate %></h3>
                <br>
            <% } else if (typeof eduvent.endDate !== "undefined") { %> 
                <h3>END DATE: <%= endDate %></h3>
                <br>
            <% } else if (typeof eduvent.startDate !== "undefined") { %>
                <h3>START DATE: <%= startDate %></h3>
                <br>
            <% } %>

            <% if (typeof eduvent.location.coordinates !== "undefined") { %> 
                <div id="map" style="height: 500px;"></div>
                <br>
                <script type="text/javascript">
                    function initMap() {
                        var loc = {
                            lat: eval("<%= eduvent.location.coordinates[1] %>"),
                            lng: eval("<%= eduvent.location.coordinates[0] %>")
                        }

                        const map = new google.maps.Map(document.getElementById("map"), {
                            zoom: 17,
                            center: loc
                        });

                        const marker = new google.maps.Marker({
                            position: loc,
                            map: map,
                            title: "<%= eduvent.name.en %>"
                        })
                    }
                </script>
            <% } %>

            <% if (typeof eduvent.initiative !== "undefined") { %>
                <h3>Initiative: <%= eduvent.initiative.name.en %></h3>
                <br>
            <% } %>

            <% if (user.role === "admin") { %>
                <% if (typeof eduvent.clickCount !== "undefined") { %> 
                    <h3>Click Count: <%= eduvent.clickCount %></h3> 
                    <br>
                <% } %> 
            <% } %> 

            <% if (typeof eduvent.url !== "undefined" && eduvent.url !== "") { %> 
                <h3>URL to Application: <a href="<%= eduvent.url %>"><%= eduvent.url %></a></h3>
            <% } %>

            <% if (typeof eduvent.featuredUntil !== "undefined" && new Date < eduvent.featuredUntil) { %>
                <br>
                <h3>Featured Until: <%= eduvent.featuredUntil %></h3>
            <% } %>
                
            <% if (eduvent.user === user || user.role === "admin") { %>
                <form action="/edu-vents/<%= eduvent._id %>/delete?_method=DELETE" method="POST">
                    <button class="delete">Delete</button>
                </form>

                <form action="/edu-vents/<%= eduvent._id %>/edit" method="GET">
                    <button class="edit">Edit</button>
                </form>

                <% if (user.role === "admin" && (eduvent.featuredUntil !== undefined || new Date < eduvent.featuredUntil)) { %>
                    <form action="/edu-vents/en/<%= eduvent._id %>/feature" method="GET">
                        <input type="date" name="featuredUntil" style="display: inline; width: initial;">
                        <button style="display: inline;">Feature</button>
                    </form>
                <% } %> 
            <% } %>

            <a href="/">GO BACK</a>
        </section>
    </div>

<%- include("partials/footer") %>