<%- include("../partials/header") %>
    
    <div class="sections">
        <section>
            <form action="/edu-vents/<%= initiative._id %>?_method=PUT" method="POST" enctype="multipart/form-data" name="eduventsForm">
                <h3>Edit an Initiative</h3>
                <input type="text" name="name.en" placeholder="Name" <% if (typeof initiative.name.en !== "undefined") { %> value="<%= initiative.name.en %>" <% } %>>
                <input type="text" name="name.ar" placeholder="Name" <% if (typeof initiative.name.ar !== "undefined") { %> value="<%= initiative.name.ar %>" <% } %>>
                <textarea name="description.en" placeholder="Description"><% if (typeof initiative.description.en !== "undefined") { %> <%= initiative.description.en %> <% } %></textarea>
                <textarea name="description.ar" placeholder="Description"><% if (typeof initiative.description.ar !== "undefined") { %> <%= initiative.description.ar %> <% } %></textarea>
                <input type="url" name="url" placeholder="URL" <% if (typeof initiative.url !== "undefined") { %> value="<%= initiative.url %>" <% } %>>
                <label for="changePic">Do you want to change the picture?
                    <select name="changePic" id="changePic" onchange="changePic()">
                        <option>no</option>
                        <option>yes</option>
                    </select>
                </label>
                <input style="display: none;" type="file" name="img" id="img">
                <input type="submit">
            </form>
            <script>
                function changePic() {
                    if (document.getElementById("changePic").value === "yes") {
                        document.getElementById("img").style.display = "unset";
                    } else {
                        document.getElementById("img").style.display = "none";
                    }
                }
            </script>
        </section>
    </div>

<%- include("../partials/footer") %>